---
version: '3.7'
services:
  app:
    container_name: '{{ matterbridge_cont_name }}'
    image: '{{ matterbridge_cont_image }}'
    deploy:
      restart_policy:
        condition: 'on-failure'
        max_attempts: 3
        delay: '10s'
        window: '60s'
{% if matterbridge_cont_env %}
    environment:
{% for key,val in matterbridge_cont_env.items() %}
      {{ key }}: '{{ val }}'
{% endfor %}
{% endif %}
    volumes:
      - '{{ matterbridge_cont_vol }}/data:/data'
      - '{{ matterbridge_cont_vol }}/config:/config:ro'
    working_dir: '/data'
    command: |
      -conf=/config/matterbridge.yaml
{% if matterbridge_debug %}
      -debug
{% endif %}
{% if matterbridge_api_enabled %}
    ports:
      - '{{ matterbridge_api_port }}:{{ matterbridge_api_port }}'
{% endif %}
{% if matterbridge_external_network %}
    networks:
      - {{ matterbridge_external_network }}

networks:
  {{ matterbridge_external_network }}:
    external: true
{% endif %}